/* Styling the main sections*/
section{
    margin: 50px auto;
    width: 80%;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}
section h2{
    text-align: right;
    flex: 1 10%;
    padding-right: 15px;
}
.content{
    padding-left: 15px;
    border-left: 3px solid var(--dark-blue);
    flex: 1 80%;
}
/* Contact info */
/* Got lazy of creating yet another folder lol */
.contacts .info{
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: bold;
    /* margin: 0 10px;
    padding: 0 3px; */
    border-bottom: 3px solid var(--dark-blue);
}
.contacts .list-content{
    padding: 7px;
}
.contacts .list-wrapper{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-content: space-between;
    
}

@media screen and (max-width:720px){
    /* Simplify content for smaller screen */
    section{
        display: flex;
    }
    section h2{
        text-align: center;
        padding: unset;
        padding-bottom: 15px;
        margin: 0 auto;
        border-bottom: 3px solid var(--dark-blue);
    }
    .content{
        padding: unset;
        flex: 1 100%;
        padding-top:15px ;
        border:none;
    }
}
