/* Styling hero section */
.hero {
    background-image: url(../../images/hero-background.jpg);
    height:300px;
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items: flex-end; 
    text-align: right;
    position: relative;
}
.hero h2 {
    margin-top: 50px;
    font-size: 80px;
    padding-bottom: 40px;
    color: var(--pale);
    text-align: right;
    position: absolute;
    right: 0;
}
@media screen and (max-width:420px){
    .hero h2{
        padding-bottom: 10px;
    }
}