h1 {
    font-size: 40px;
    padding: 5px 0px 5px 40px;
    margin: 30px 0px 5px 0px;
    background-color: azure;
    
}
header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}
header nav{
    align-self: flex-end;
    padding: 0 25px;
    padding-bottom: 10px;
    background-color: aquamarine;
}

header a{
    text-decoration: none;
    color: #fce138;
    font-size: 20px;
}
header nav ul{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 0 5px;
    padding: 0 3px;
    border-bottom: 3px solid #fce138;
    font-weight: lighter;
    /* font-size: 1.55vw; */
}

  .sticky + .content {
    padding-top: 102px;
  }

@media screen and (max-width:700px){
    .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /* justify-content: center; */
  }
  header {
      text-align: center;
      width: 100%;
      position: static;
      display: unset;
  }
  h1 {
      background-color: aquamarine;
      margin: unset;
      padding: 15px;
  }
  header nav{
      padding-left: 50px;
      padding-right: 50px;
  }
}